$max-width: 1200px;

$header-height: 50px;

$background-color: #212529;   // Open Color - Gray 9
$text-color: #f1f3f5;         // Open Color - Gray 1
$primary-color: #845ef7;      // Open Color - Violet 5

$header-background: darken($background-color, 5%);