$max-width: 900px;

$header-height: 60px;

$background-color: #212529;   // Open Color - Gray 9
$text-color: #f1f3f5;         // Open Color - Gray 1
$primary-color: #74b816;      // Open Color - Lime 7
$color-red: #f03e3e;          // Open Color - Red 7
$color-green: #37b24d;        // Open Color - Green 5
$color-yellow: #fcc419;       // Open Color - Yellow 5

$header-background: darken($background-color, 5%);